In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
grammy_file = "Resources/the_grammy_awards.csv"
grammy_data_df = pd.read_csv(grammy_file)
grammy_data_df.head()

,year,category,nominee,workers,winner
0,1959,Album of the Year,The Music from Peter Gunn.,Henry Mancini,True
1,1959,Best Album Cover,Only the Lonely,Frank Sinatra (art director),True
2,1959,Best Arrangement,The Music From Peter Gunn,Henry Mancini (artist/arranger),True
3,1959,Best Classical Performance - Chamber Music (in...,Beethoven: Quartet 130,"The Hollywood String Quartet, Paul Shure (arti...",True
4,1959,Best Classical Performance - Instrumentalist (...,Segovia Golden Jubilee,Andrés Segovia,True

In [3]:
tsongs_file = "Resources/top_songs.csv"
tsongs_data_df = pd.read_csv(tsongs_file,encoding='cp1252')
tsongs_data_df.head()

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [4]:
albums_file = "Resources/albums.csv"
albums_data_df = pd.read_csv(albums_file)
albums_data_df.head()

,id,artist_id,album_title,genre,year_of_pub,num_of_tracks,num_of_sales,rolling_stone_critic,mtv_critic,music_maniac_critic
0,1,1767,Call me Cat Moneyless That Doggies,Folk,2006,11,905193,4.0,1.5,3.0
1,2,23548,Down Mare,Metal,2014,7,969122,3.0,4.0,5.0
2,3,17822,Embarrassed Hungry,Latino,2000,11,522095,2.5,1.0,2.0
3,4,19565,Standard Immediate Engineer Slovakia,Pop,2017,4,610116,1.5,2.0,4.0
4,5,24941,Decent Distance Georgian,Black Metal,2010,8,151111,4.5,2.5,1.0

In [5]:
artists_file = "Resources/artists.csv"
artists_data_df = pd.read_csv(artists_file)
artists_data_df.head()

,id,real_name,art_name,role,year_of_birth,country,city,email,zip_code
0,1,Kameko Nelson,NaN,female voice,1981,Slovenia,Vedrin,lorem.tristique.aliquet@nonummyFusce.co.uk,6914
1,2,Sacha Cameron,Bianco Ibureno Chloride,artist,1955,Guernsey,Montigny-le-Tilleul,Sed@elementum.com,0568
2,3,Thane E. Oliver,NaN,rapper,1993,Guinea-Bissau,Saint-Sébastien-sur-Loire,Integer.tincidunt.aliquam@libero.com,813154
3,4,Cole E. Joseph,Persian responsible,bassist,1994,Estonia,Newquay,nulla.magna.malesuada@vulputate.com,A4S 2B3
4,5,Sonia U. Jensen,Asleep lonely Big Morgan,DJ,1988,Vanuatu,Dudzele,faucibus@euismodetcommodo.edu,46418

In [7]:
artists = pd.DataFrame()
artists = artists_data_df[['id','real_name','country','city','year_of_birth']]
artists.head()

,id,real_name,country,city,year_of_birth
0,1,Kameko Nelson,Slovenia,Vedrin,1981
1,2,Sacha Cameron,Guernsey,Montigny-le-Tilleul,1955
2,3,Thane E. Oliver,Guinea-Bissau,Saint-Sébastien-sur-Loire,1993
3,4,Cole E. Joseph,Estonia,Newquay,1994
4,5,Sonia U. Jensen,Vanuatu,Dudzele,1988

In [8]:
albums = pd.DataFrame()
albums = albums_data_df[['id','artist_id','album_title','genre','year_of_pub','num_of_tracks']]
albums.head()

,id,artist_id,album_title,genre,year_of_pub,num_of_tracks
0,1,1767,Call me Cat Moneyless That Doggies,Folk,2006,11
1,2,23548,Down Mare,Metal,2014,7
2,3,17822,Embarrassed Hungry,Latino,2000,11
3,4,19565,Standard Immediate Engineer Slovakia,Pop,2017,4
4,5,24941,Decent Distance Georgian,Black Metal,2010,8